@charset "UTF-8";
.main {

    min-height: 100vh;
    margin: 0px 0px 0px 0px;
}

.content-left {
    min-height: 100vh;
    background-color: rgb(244,244,244);
}

.content-right {

    min-height: 100vh;
     background-color: rgb(244,244,244);
}

#item {
    background-color: white;
}

#img-thumb {
    padding: 5px 5px 5px 5px;
    width: 150px;
    height: 150px;
}

.tinh-tien {
    height: 200px;
    margin-top: 1%;
    background-color: white;
   min-width: 200px;
   margin-bottom: 99%;
  
}
.tam-tinh{
	width:inherit;
	border-bottom: 1px solid black;
}

#linkSp {
    color: black;
}

#linkSp:hover {
    text-decoration: none;
}

.price {
    padding: 5px 5px 5px 5px;
}

#quantity {
    padding: 5px 5px 5px 5px;
}
.row-bordered {
  position: relative;
  border-bottom: 1px solid #ccc;
}