<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Tiki</display-name>
    <filter>
        <filter-name>servletFilter</filter-name>
        <filter-class>com.nmcnpm.web.security.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>servletFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <scripting-invalid>true</scripting-invalid>
        </jsp-property-group>
        <jsp-property-group>
            <url-pattern>*.tag</url-pattern>
            <scripting-invalid>true</scripting-invalid>
        </jsp-property-group>
    </jsp-config>
    <error-page>
        <error-code>500</error-code>
        <location>/templates/notfound.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/templates/notfound.jsp</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/templates/accessdenied.jsp</location>
    </error-page>
    <!--    servlet mapping++++++++++++++++++++++++++++++++++++++++++++++ -->
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>com.nmcnpm.web.controller.SignUpController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>signip</servlet-name>
        <servlet-class>com.nmcnpm.web.controller.SignInController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signip</servlet-name>
        <url-pattern>/signip</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>products</servlet-name>
        <servlet-class>com.nmcnpm.web.controller.admin.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.nmcnpm.web.controller.SignInController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>products</servlet-name>
        <url-pattern>/admin/product</url-pattern>
    </servlet-mapping>
    <!--    end servlet mapping++++++++++++++++++++++-->
    <!--    jsp file-->
    <servlet>
        <servlet-name>product_jsp</servlet-name>
        <jsp-file>/templates/admin_theme/products.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>product_jsp</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <!--    end jsp file-->
</web-app>
