<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>Tiki</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <scripting-invalid>true</scripting-invalid>
        </jsp-property-group>
        <jsp-property-group>
            <url-pattern>*.tag</url-pattern>
            <scripting-invalid>true</scripting-invalid>
        </jsp-property-group>
    </jsp-config>

    <error-page>
        <error-code>500</error-code>
        <location>/templates/notfound.jsp</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/templates/notfound.jsp</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/templates/accessdenied.jsp</location>
    </error-page>

    <servlet>
        <servlet-name>index_</servlet-name>
        <servlet-class>com.nmcnpm.web.controller.web.HomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index_</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>autocomplete_home</servlet-name>
        <servlet-class>com.nmcnpm.web.controller.web.ResultSearchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>autocomplete_home</servlet-name>
        <url-pattern>/autocomplete_home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>cart_</servlet-name>
        <servlet-class>com.nmcnpm.web.controller.web.ShoppingCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cart_</servlet-name>
        <url-pattern>/shopping_cart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>cart_controller</servlet-name>
        <servlet-class>com.nmcnpm.web.controller.web.CartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cart_controller</servlet-name>
        <url-pattern>/call_cart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>accountMaga</servlet-name>
        <servlet-class>com.nmcnpm.web.controller.web.AccountManagmentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>accountMaga</servlet-name>
        <url-pattern>/accountInfo</url-pattern>
        <url-pattern>/updateInfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>update_address</servlet-name>
        <servlet-class>com.nmcnpm.web.controller.web.UpdateAddressController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>update_address</servlet-name>
        <url-pattern>/update_address</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>confirm_order</servlet-name>
        <servlet-class>com.nmcnpm.web.controller.web.ConfirmOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>confirm_order</servlet-name>
        <url-pattern>/confirm_order</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>product_detail</servlet-name>
        <servlet-class>com.nmcnpm.web.controller.web.ProductDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>product_detail</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>confirm_address</servlet-name>
        <servlet-class>com.nmcnpm.web.controller.web.ConfirmAddressController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>confirm_address</servlet-name>
        <url-pattern>/confirm_address</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>order</servlet-name>
        <servlet-class>com.nmcnpm.web.controller.web.OrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>order</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
</web-app>
