header {
	background-color: #189eff;
	color: white;
}

.navbar{
	width: 100vw !important;
	margin-right: auto;
	margin-left: auto;
	color: #fff!important;
}
 
.navbar .form-inline .form-control{
	width: 440px!important;
}

.narbar1 .navbar-nav .nav-item{
	line-height: 24px;
}

.nav-link {
	font-size: 12px;
}
.fas .fa-map-marked-alt {
	height: 52px;
	width: 52px;
}

.navbar-dark .navbar-nav .dropdown-item .fas {
	width: 25px;
}

.navbar .navbar-nav .nav-item .nav-link{
	line-height: 20px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff!important;
}

.navbar .navbar-nav .item-cart {
	margin :5px;
    border: 2px solid #fff !important;
    padding: 0px 10px 0px 20px !important;
    border-radius: 4px !important;
    margin-left: 0 !important;
    letter-spacing: .7px !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    vertical-align: middle !important;
}





.dropdown-submenu a::after {
  transform: rotate(-90deg);
  right: 3px;
  top: 40%;
}

.dropdown-submenu:hover .dropdown-menu,
.dropdown-submenu:focus .dropdown-menu {
  display: block;
  margin-top: -1px;
  margin-left: -1px;
  top: 0px;
  left: 100%;
  min-height: 100%;
}

.dropdown-menu {
  min-height: 200%;
}

#bootstrap-edits .add-to-ul{
    position: relative;
    width: 200%;
    top: 0;
}

#bootstrap-edits .add-to-dropdown-div{
  min-height: 100%;
}

a { text-decoration: none; }
 
li { list-style: none; }

.row{
	width: 950px;
}

.row .col .submenu{
	font-size: 5px!important;
}

@media only screen and (max-width: 968px) {
    #btn-search-product span{
        visibility: hidden;
    }
}