header {
	background-color: #189eff;
	color: white;
}

.navbar{
	width: 100vw !important;
	margin-right: auto;
	margin-left: auto;
	color: #fff!important;
}
 
.navbar .form-inline .form-control{
	width: 440px!important;
}

.narbar1 .navbar-nav .nav-item{
	line-height: 24px;
}

.nav-link {
	font-size: 12px;
}
.fas .fa-map-marked-alt {
	height: 52px;
	width: 52px;
}

.navbar-dark .navbar-nav .dropdown-item .fas {
	width: 25px;
}

.navbar .navbar-nav .nav-item .nav-link{
	line-height: 20px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff!important;
}

.navbar .navbar-nav .item-cart {
    border: 2px solid #fff !important;
    padding: 0px 10px 0px 20px !important;
    border-radius: 4px !important;
    margin:5px 0 5px 0;
    letter-spacing: 0.7px !important;
    font-weight: 400 !important;
    font-size: 13px !important;
    vertical-align: middle !important;
}





.dropdown-submenu a::after {
  transform: rotate(-90deg);
  right: 3px;
  top: 40%;
}

.dropdown-submenu:hover .dropdown-menu,
.dropdown-submenu:focus .dropdown-menu {
  display: block;
  margin-top: -1px;
  margin-left: -1px;
  top: 0px;
  left: 100%;
  min-height: 100%;
}

.dropdown-menu {
  min-height: 200%;
}

#bootstrap-edits .add-to-ul{
    position: relative;
    width: 200%;
    top: 0;
}

#bootstrap-edits .add-to-dropdown-div{
  min-height: 100%;
}

a { text-decoration: none; }
 
li { list-style: none; }

.row{
	width: 950px;
}

.row .col .submenu{
	font-size: 5px!important;
}
.signin_,.signup_{
    font-size: 1em;
}
.scrollable-menu {
    height: auto;
    max-height: 6em;
    width: 70px !important;
    overflow-x: hidden;
}
#form-signup{
    font-size: 0.8em;
}
#form-signup input{
    font-size: 1em;
}
#form_search{
    padding-top: 1.2em;
}
@media only screen and (max-width: 1100px) {
    #input-search-product{
        width: 300px !important;
    }
    #exampleModal img{
        display: none;
    }
    #btn-search-product span{
        display: none;
    }
    #track-order span{
        display: none;
    }
    #notification span{
        display: none;
    }
    #icon-login1 span,#icon-login2 span,#icon-cart span{
        display: none;
    }
    #icon-cart{
        padding:0 !important;
        margin: 0;
        border: none !important;
    }
}
@media all and (max-width: 640px) {
    #form_search{
        display: none;
    }
}
